---
layout: archive
title: "Datasets"
permalink: /talks/
author_profile: true
---
<style>
.page__content p {
    margin: 0 0 0em;
}
p{
    /*margin: 0;*/
    /*padding: -30;*/
    /*line-height: 15px;*/
}
/* a{
	color:#7c1313;
} */
ul{
    /*margin: 0;*/
    /*padding: -30;*/
    line-height: 15px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
ul li, ol li {
    margin-bottom: 0.em;
}
h1, h2, h3, h4, h5, h6 {
	padding-bottom: 0.2em;
	margin: 1em 0 0.5em;
	border-bottom: 2px solid #f2f3f3;
}
</style>

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->

<br>
<br>
* <a> Oil Spill Detection: A Hyperspectral Remote Sensing Benchmark Database  </a> [<a href="https://arxiv.org/abs/2209.14971" target="_blank">Paper</a>] [<a href="https://github.com/PuhongDuan/HOSD" target="_blank">Download Link</a>]
<p align="center">
<img src="../images/oil.jpg" alt="drawing" width="600"/>
</p>

* <a> Haze Removal: A Hyperspectral Haze Removal Database  </a> [<a href="https://ieeexplore.ieee.org/document/9511329/" target="_blank">Paper</a>] [<a href="https://pan.baidu.com/s/1oA7VdoSQYpOYsaeU2X2JDw" target="_blank">Download Link(Access code:4696)</a>]
<p align="center">
<img src="../images/oil.jpg" alt="drawing" width="600"/>
</p>
